.footer{
    background-color: var(--black);
}
.footer .list h3{
    color: var(--white);
    font-size: 3rem;
}
.footer .list p{
    font-size: 1.4rem;
    line-height: 1.6;
    color: var(--light-white);
    padding: .5rem 0;
}
.footer .list .list-links{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 1rem 0;
    padding-top: 1rem;
}
.footer .list .list-links a{
    padding: .5rem 1rem;
    font-size: 2rem;
    color: var(--light-white);
    background-color: var(--bg-color);
    border-radius: .5rem;
    text-transform: uppercase;
}
.footer .list .list-links a:hover{
    background-color: var(--main-color) ;
    color: var(--black);
}
.footer .row{
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    align-items: center;
    gap: 2rem;
}
.footer .row .extra-links a{
    margin-right: 1.5rem;
    font-size: 1.8rem;
    color: var(--light-white);
    display: inline-block;
}
.footer .row .extra-links a:hover{
    color: var(--white);
}
.footer .row .share a{
    font-size: 2rem;
    height: 4rem;
    width: 4.5rem;
    line-height: 4rem;
    border-radius: .5rem;
    background-color: var(--light-black);
    color: var(--light-white);
    text-align: center;
    margin-left: .5rem;
}
.footer .row .share a:hover{
    background-color: var(--main-color);
    color: var(--black);
}
.footer .credit{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 2rem;
    color: var(--light-white);
    border-top: .1rem solid rgba(255,255,255,.1);
    padding-top: 3rem;
    padding-bottom: 1rem;
    margin-top: 1rem;
}
.footer .credit span a{
    color: var(--main-color);
}