.header{
    position: sticky;
    right: 0;
    left: 0;
    top: 0;
    z-index: 1000;
}
.header .flex{
    display: flex;
    align-items: center;
}

#menu-btn{
    font-size: 2.5rem;
    color: var(--main-color);
    margin-right:1rem;
    cursor: pointer;
}

.header .flex .logo{
    margin-right: auto;
}
.header .flex .logo a{
    font-size: 2.5rem;
    color: var(--white);
    font-weight: bold;
    font-style: italic;    
}
.header .flex .search-form{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.header .flex .search-form .search-bar{
    background: var(--light-black);
    border-radius: .5rem;
    padding: 1rem 1.5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 50rem;
}
.header .flex .search-form .search-bar input{
    width: 100%;
    background: none;
    font-size: 1.8rem;
    color: var(--white);
}
.header .flex .search-form .search-bar input::-webkit-search-cancel-button{
    appearance: none;
}

.header .flex .search-form .search-bar label{
    font-size: 2rem;
    color: var(--white);
    cursor: pointer;
}

.header .flex .search-form  a{
    display: block;
    font-size: 2rem;
    text-align: center;
    height: 4rem;
    width: 4.5rem;
    line-height: 4rem;
    border-radius: .5rem;
    color: var(--white);
    background: var(--light-black);
    
}
.header .flex .search-form  a:hover{
    background: var(--main-color);
    color: var(--black);
}

.header .flex .search-form .search-bar label:hover{
    color: var(--main-color);
}
.header.active{
    background: rgba(0,0,0,.8);
    backdrop-filter: blur(4px);
}

.header .btn{
    margin-top: 0;
    margin-left: auto;
}

#serach-toggler{
    height: 3.5rem;
    width: 4.5rem;
    line-height: 3.5rem;
    font-size: 2rem;
    color: var(--white);
    background-color: var(--light-black);
    border-radius: .5rem;
    margin-left: 1rem;
    text-align: center;
    display: none;
}