.side-bar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1100;
    background: rgba(0,0,0,.3);
    backdrop-filter:blur(10px);
    display: none;
}
.side-bar.active{
    display: block;
}
.side-bar .navbar{
    height: 100%;
    width: 35rem;
    background-color: rgba(0, 0, 0, .8);
    padding: 2rem;
    overflow-y: scroll;
    animation: slide-in .2s cubic-bezier(.32,.85,.21,1.26);
}

@keyframes slide-in{
    from{
        opacity: 0;
        transform: translateX(-10rem);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

.side-bar .navbar #close-btn{
    margin-bottom: 2rem;
    padding: 1rem 2rem;
    border: .1rem solid #555;
    border-radius: 5rem;
    display: inline-block;
    color: var(--white);
    cursor: pointer;
    font-size: 1.8rem;
}
.side-bar .navbar #close-btn:hover{
    background-color: var(--white);
    color: var(--black);
}
.side-bar .navbar #close-btn i {
    margin-right: .5rem;
}
.side-bar .navbar #close-btn:hover i{
    margin-right: 1rem;
}
.side-bar .navbar a{
    display: block;
    padding: .6rem 0;
    font-size: 1.6rem;
    color: var(--main-color);
}
.side-bar .navbar a:hover{
    color: var(--white);
}
.side-bar .navbar .title{
    background-color: var(--light-black);
    color: var(--white);
    font-size: 2rem;
    border-radius: .5rem;
    padding: .8rem 0;
    text-align: center;
    margin: 1rem 0;
}
.side-bar .navbar .row{
    column-count: 2;
    column-gap: 2rem;
}