.watch .drops {
    margin: 1rem 0;
    padding: 1.5rem 2rem;
    border-radius: .5rem;
    background-color: var(--light-black);
}
.watch .drops p{
    font-size: 2rem;
    color: var(--white);
}
.watch .drops .flex{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: .5rem;
}
.watch .drops .flex a{
    font-size: 1.8rem;
    border-radius: .5rem;
    padding: .5rem 1rem;
    background-color: var(--light-white);
    color: var(--light-black);
}
.watch.drops .flex a:hover{
    background-color: var(--main-color);
}
.watch .drops .flex a.active{
    background-color: var(--white);
}
.watch .video p{
    font-size: 1.8rem;
    color: var(--light-white);
    border-radius: .5rem;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: var(--light-black);
}

.watch .video video{
    width: 100%;
}
.watch .controls{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin: 1rem 0;
}
.watch .controls a{
    font-size: 1.8rem;
    color: var(--light-white);
    background-color: var(--light-black);
    border-radius: .5rem;
    width: 10rem;
    text-align: center;
    user-select: none;
    padding: 1rem;
}
.watch .controls a:hover{
    background-color: var(--main-color);
    color: var(--black);
}
.watch .controls a.disabled{
    pointer-events: none;
    opacity: .5;
}